**/.git
**/__pycache__
**/*.pyc
**/.env*
**/.cache
**/.dist
**/.venv/
**/.gitignore
**/.build
**/.dart_tool
**/node_modules
.example.env
.claude
.cursor*
**/.vscode/
docker-compose*.yml
Dockerfile
Makefile
.ruff_cache
**/.python-version
**/uploads/
**/notebooks/